@use 'variables' as v;
@use 'mixins' as m;


html {
  font-size: 62.5%;
  box-sizing: border-box;
} *, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {

  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden!important;
    height: 100%!important;

    body {
      overflow: hidden!important;
      height: 100%!important;
    }
  }

  &.no-scroll-long {
    overflow-y: scroll!important;
  }
}

::-webkit-scrollbar {
  width: .8rem;   
}

::-webkit-scrollbar-thumb {
  background-color: v.$grisTransparente;
  border-radius: 1rem;
}

body {
  font-family: v.$fuentePrincipal;
  font-size: 1.6rem;
  -webkit-tap-highlight-color: rgba(0,0,0,0); // Elimina fondo azul al dar click en botón en dispositivo móvil
  background-color: v.$claro;
  transition: all .5s ease-in;
  min-height: 100vh;
}

img,
picture {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: 6.4rem;
  font-weight: bold;
}

h2 {
  font-size: 2.4rem;
  font-weight: normal;
}

p {
  font-size: 1.8rem;
  line-height: 1.5;
}

h1, h2, p {
  color: v.$oscuro;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

.contenedor-padding {
  padding: 0 2.5rem;

  @include m.telefono {
    padding: 0 5rem;
  }

  @include m.tablet {
    padding: 0 10rem;
  }

  @include m.desktop {
    padding: 0 20rem;
  }
}

a {
  text-decoration: none;

  font-size: 1.6rem;

  @include m.telefono {
    font-size: 1.8rem;
  }
}

#contenido {
  transition: all .5s ease-out;
}