@use 'variables' as v;
@use 'mixins' as m;


.seccion {
  margin-top: calc(v.$separacion / 2);
  margin-bottom: calc(v.$separacion / 2);
}

.w-100 {
  width: 100%;
}

.margen-cero {
  margin: 0;
}

.blur {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.no-background {
  box-shadow: none!important;
}

.ocultar {
  display: none!important;
}

.mover-Y {
  transform: translateY(100vh);
}

.titulo {
  font-size: 3.6rem;
  text-align: center;
  padding: 10rem 0 4rem;
}