@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Manrope:wght@300;400;600;700&family=Ubuntu:wght@700&display=swap');


// Fuentes

$fuentePrincipal: 'Manrope', sans-serif;
$fuenteSecundaria: 'Ubuntu', sans-serif;
$fuenteTerciaria: 'Lato', sans-serif;

$delgada: 300;
$regular: 400;
$semibold: 600;
$bold: 700;


// Colores

$negro: #000000; // Light Mode: Iconos, Footer
$blanco: #FFFFFF; // Light Mode: Texto botones / Dark Mode: Texto botones, Iconos
$oscuro: #202020; // Light Mode: Titulos, Nav, Lineas Separación / Dark Mode: Background
$gris: #9D9D9D; // Botones, Borde Skills
$grisTransparente: #9D9D9Db3; // Light Mode: Header
$claro: #DEDEDE; // Light Mode: Background / Dark Mode: Titulos, Nav, Lineas Separación 
$claroTransparente: #DEDEDEd9; // Dark Mode: Párrafos
$grisOscuro: #1a1919; // Light Mode: Párrafos
$grisOscuroTransparente: #323232b3; // Dark Mode: Header
$verdeOscuro: #00631C; // Light Mode: Tecnologías
$purpura: #cf8abd;
$grisOscuroBackground: #323232;
$claroBackground: #b4b3b3;


// Tamaños Media Queries

$telefono: 480px;
$tablet: 768px;
$desktop: 1080px;


// Otros

$separacion: 5rem;

