@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Manrope:wght@300;400;600;700&family=Ubuntu:wght@700&display=swap');


// Fuentes

$fuentePrincipal: 'Manrope', sans-serif;
$fuenteSecundaria: 'Ubuntu', sans-serif;
$fuenteTerciaria: 'Lato', sans-serif;

$delgada: 300;
$regular: 400;
$semibold: 600;
$bold: 700;


// Colores

$gris: #9D9D9D; // Botones, Borde Skills
$blanco: #ffffff; // Light Mode: Texto botones / Dark Mode: Texto botones, Iconos
$negroTransparente: #0000007a;
$lightMode: #FBD38D;
$enlacesTextoLight: #a1311b;
$enlacesTextoDark: #ff937e;
$sombraHeaderDark: #323232b3; // Dark Mode: Header
$claroTransparente: #DEDEDEd9; // Dark Mode: Párrafos
$purpura: #bbbbff;
$oscuro: #202020; // Light Mode: Titulos, Nav, Lineas Separación / Dark Mode: Background
$grisOscuroBackground: #323232;
$morado: #5858a5; // Light Mode: Tecnologías
$verdeBotones: #085720; // Light Mode: Tecnologías
$grisOscuro: #1a1919; // Light Mode: Párrafos
$verde: #00631C; // Light Mode: Tecnologías 
$grisBarra: #9D9D9Db3; // Light Mode: Header
$claro: #DEDEDE; // Light Mode: Background / Dark Mode: Titulos, Nav, Lineas Separación


// Tamaños Media Queries

$telefono: 480px;
$tablet: 768px;
$desktop: 1080px;


// Otros

$separacion: 5rem;
$borderRadius: 1rem;
