@use '../base/variables' as v;
@use '../base/mixins' as m;


.bubbles {

  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;


  svg {
    position: absolute;
    right: 0;
    bottom: 0;

    g path {
      fill: v.$verdeBotones;
      stroke: v.$verdeBotones;
      opacity: 0.2;
    }
  }

}
