@use '../base/variables' as v;
@use '../base/mixins' as m;


.contenido-contacto {
  max-width: 60rem;
  text-align: center;

  h2 {
    font-size: 3.6rem;
    font-weight: v.$bold;
    margin: 2.5rem 0;

    @include m.telefono {
      font-size: 4rem;
    }

    @include m.tablet {
      font-size: 5rem;
    }
  }
}