@use '../base/variables' as v;
@use '../base/mixins' as m;


.footer {

  padding: 3rem 0;

  &.activo {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: 2;
    padding: 2rem 0;

    @include m.telefonoHorizontal {
      display: none;
    }
  }

  p {
    text-align: center;
    font-size: 1.6rem;
    font-weight: v.$semibold;
  
    span {
      color: v.$grisOscuro;
    }

    @include m.telefono {
      font-size: 1.8rem;
    }
  }

}
