@use '../base/variables' as v;
@use '../base/mixins' as m;


.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  @include m.desktop {
    flex-direction: row;
    justify-content: space-around;
  }

  &.activo {
    z-index: 2;

    .redes-sociales {
      display: none;
    }

    @include m.telefonoHorizontal {
      display: none;
    }
  }

  p {
    text-align: center;
    font-size: 1.6rem;
    font-weight: v.$semibold;

    @include m.telefono {
      font-size: 1.8rem;
    }
  }

  .redes-sociales {

    ul {
      list-style: none;
      display: flex;

      li {
        margin-right: 2rem;

        &:last-of-type {
          margin-right: 0;
        }
      }

      a {
        color: v.$oscuro;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

}
