@use '../base/variables' as v;
@use '../base/mixins' as m;


.barra {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;

  .logo {
    position: relative;
    min-width: 10rem;
    z-index: 1;
    display: flex;
    margin-right: 3rem;
    transition: .3s;

    &:hover {
      transform: scale(1.1);
    }

    g {
      fill: v.$oscuro;
    }

    a, svg {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  &.ocultar {
    top: -7rem;
  }

}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .div-theme {
    height: 4rem;
    min-width: 4rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid v.$oscuro;
    border-radius: v.$borderRadius;
    cursor: pointer;
    background-color: v.$morado;
    z-index: 1;
    transition: .3s;

    &:active {
      transform: translateY(15%);
      opacity: 0;
    }

    &:hover {
      background-color: darken(v.$morado, 10); 
    }
  }

  .mix-header {
    display: flex;
  }
}

.button-theme {
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  max-height: 2.5rem;

  .light-mode,
  .dark-mode {
    padding: 0.2rem;
  }

  .light-mode g {
    stroke: v.$oscuro;
  }

  .dark-mode path {
    fill: v.$blanco;
  }
}

.bg-nav {
  background-color: v.$blanco;
}