@use '../base/variables' as v;
@use '../base/mixins' as m;


.nav-telefono {
  position: relative;
  height: 4rem;
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid v.$oscuro;
  border-radius: v.$borderRadius;
  gap: 0.15rem;
  margin-left: 1rem;
  cursor: pointer;

  @include m.tablet {
    display: none;
  }

  .linea {
    height: .25rem;
    width: 2.3rem;
    background-color: v.$oscuro;
    border-radius: .5rem;
    transition: .3s;

    &:nth-child(1),
    &:nth-child(3) {
      width: 1.5rem;
    }

  }

  &.activo {

    background-color: v.$claro;

    .linea {

      position: absolute;

      &:nth-child(1),
      &:nth-child(3) {
        width: 2.3rem;
      }

      &:nth-child(1) {
        transform: rotate(45deg)
      }

      &:nth-child(2) {
        width: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg)
      }

    }

  }

}

.nav-desktop {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
  top: 0;
  left: 0;
  height: 0vh;
  width: 100%;
  transition: all 700ms ease;
  overflow: hidden;

  a {
    opacity: 0;
    transition: all 700ms ease;
    padding: 3rem 0;
    color: v.$oscuro;
    font-size: 3rem;
    font-weight: v.$semibold;
    text-align: center;
    transform: translateY(-100vh);

    &:first-of-type {
      margin-top: 15vh;
    }
  }

  @include m.tablet{
    position: static;
    height: auto;
    background-color: transparent;
    flex-direction: row;
    align-items: center;
    transition: none;
    justify-content: center;

    a {
      opacity: 1;
      margin: 0 1rem;
      transition: none;
      padding: 0;
      text-align: center;
      transform: translateY(0);
      font-size: 1.6rem;
      
      &::after {
        content: '';
        display: block;
        height: .1rem;
        width: 0%;
        background-color: v.$oscuro;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 500ms;
      }

      @include m.desktop {
        font-size: 1.8rem;
      }

      &:first-of-type {
        margin-top: 0;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  &.activo {
    height: 100vh;

    a {
      transform: translateY(0);
      opacity: 1;
  
      &:hover {
        opacity: 0.7;
      }
      
      @include m.telefonoHorizontal {
        padding: 1.5rem 0;

        &:first-of-type {
          margin-top: 5rem;
        }
      }
    }

  }
}
