@use '../base/variables' as v;
@use '../base/mixins' as m;


.contenido-principal {

  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 9rem 0;

  @include m.tablet {
    padding-bottom: 0;
  }

  @include m.desktop {
    padding: 17vh 0 0;
  }

  h1 {
    font-size: 2.2rem;
    font-weight: v.$regular;

    @include m.telefono {
      font-size: 2.4rem;
    }

    @include m.desktop {
      font-size: 2.6rem;
    }
  }

  p {
    font-size: 1.8rem;
    max-width: 80rem;
    margin-top: 2rem;
  }

  p,
  .dev span {
    font-weight: v.$bold;

    @include m.telefono {
      font-size: 2rem;
    }

    @include m.desktop {
      font-size: 2.2rem;
    }
  }

  .dev span {
    font-weight: v.$regular;
    color: v.$grisOscuro;
  }
}

.nombre {
  font-size: 3.6rem;
  font-family: v.$fuenteSecundaria;
  font-weight: v.$bold;
  color: v.$oscuro;
  display: block;
  margin-top: 1rem;

  @include m.telefono {
    font-size: 5.5rem;
  }

  @include m.desktop {
    font-size: 6.4rem;
  }
}

.boton-contacto {
  background-color: v.$verdeBotones;
  border-radius: v.$borderRadius;
  color: v.$blanco;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 4rem;
  letter-spacing: .05rem;
  padding: 1.5rem 3rem;

  svg {
    stroke: v.$blanco;
  }
}

.trabajos-destacados {
  display: flex;
  align-items: center;
  justify-content: center;
  color: v.$oscuro;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 1.4rem;
  gap: 1rem;
  margin-top: 8vh;
  height: 5rem;
  animation: bounce .5s alternate infinite ease-in;

  svg {
    stroke: v.$oscuro;
  }

  @keyframes bounce {
    0%{
      transform: translateY(-.3rem);
    }
    100%{
      transform: translateY(0);
    }
  }

  @include m.tablet {
    font-size: 1.8rem;
    margin-top: 15vh;
  }
}

