@use '../base/variables' as v;
@use '../base/mixins' as m;


.seccion-proyectos {
  min-height: 100vh;
  max-width: 90rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @include m.tablet {
    gap: 3.5rem;
  }

}

.contenedor-proyecto {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-height: 40vh;
  margin-bottom: 3.5rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include m.tablet {
    min-height: 35vh;
  }

  @include m.desktop {
    min-height: 40vh;
  }

  // &::after {
  //   content: '';
  //   height: .3rem;
  //   background-color: v.$oscuro;
  //   grid-column: 1 / 2;
  //   align-self: center;
  //   margin: 3.5rem 0;

  //   @include m.tablet {
  //     grid-column: 1 / 3;
  //   }
  // }

  .contenido-proyecto,
  .imagen-proyecto {
    grid-area: 1 / 1;
    grid-column: 1 / 13;
  }

  .imagen-proyecto {
    position: relative;
    height: 100%;
  }

  &:nth-child(even) .contenido-proyecto {
    align-items: flex-end;
    text-align: end;
  }
  
  @include m.tablet {
    
    column-gap: 1rem;
    margin-bottom: 0;

    &:nth-child(odd) {

      .contenido-proyecto {
        grid-column: 1 / 8;

        @include m.desktop {
          grid-column: 1 / 7;
        }
      }

      .imagen-proyecto {
        grid-column: 5 / 13;

        @include m.desktop {
          grid-column: 6 / 13;
        }
      }

    }
  
    &:nth-child(even) {

      .contenido-proyecto {
        grid-column: 6 / 13;

        @include m.desktop {
          grid-column: 7 / 13;
        }
      }

      .imagen-proyecto {
        grid-column: 1 / 9;

        @include m.desktop {
          grid-column: 1 / 8;
        }
      }

    }
  }

  .imagen-proyecto picture,
  .imagen-proyecto img {
    position: absolute;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
  }

  .imagen-proyecto {

    a {
      height: 100%;
      width: 100%;
      display: block;
      background-color: v.$gris;
      border-radius: .5rem;
    }

    div {
      filter: grayscale(100%) contrast(1) brightness(25%) opacity(35%);
      border-radius: .5rem;
      transition: all .3s ease-in;
      height: 100%;
  
      @include m.tablet {
        filter: grayscale(100%) contrast(1) brightness(50%) opacity(60%);
      }
  
      &:hover {
        filter: grayscale(0%) contrast(1) brightness(100%) opacity(100%);
        transform: translate(1rem, 1rem);
      }
    }
    
  }

}

.contenido-proyecto {
  z-index: 5;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: v.$claroBackground;
  border-radius: .5rem;

  @include m.tablet {
    padding: 2rem;
    height: max-content;
  }

  @include m.desktop {
    padding: 3rem;
  }

  h2 {
    font-weight: v.$semibold;
    text-transform: uppercase;
  }

  h2, p {
    margin-bottom: 2.5rem;

    @include m.tablet {
      margin-bottom: 1rem;
    }
  }

  .tecnologias-proyecto {
    color: v.$verdeOscuro;
    font-weight: v.$semibold;
  }

  .iconos-proyecto {
    display: flex;
    gap: 2rem;

    .icono:last-child {
      @include m.telefono {
        display: none;
      }
    }

  }

  .info-proyecto {
    display: none;

    @include m.telefono {
      display: block;
    }
  }

}

.ver-proyectos {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    font-size: 1.8rem;
    font-weight: v.$semibold;
    padding: 1rem 0;
    color: v.$grisOscuro;
    min-width: 13.5rem;
    text-align: center;
    position: relative;    

    &::after {
      content: '';
      height: .3rem;
      width: 100%;
      background-color: v.$gris;
      display: block;
      margin-top: 1rem;
      position: absolute;
      bottom: 0;
      transition: .2s;
      z-index: -1;
      border-radius: .4rem;
    }

    &:hover {
      color: v.$claro;
    }

    &:hover::after {
      height: 100%;
    }
  }

  @include m.tablet {
    justify-content: flex-end;
  }
}

.ultimo-proyecto::after{
  display: none;
}
