@use '../base/variables' as v;
@use '../base/mixins' as m;


.portafolio {

  .titulo-portafolio {
    font-size: 3.6rem;
    text-align: center;
    margin: 12rem 0 5rem;
  }

  .seccion-proyectos {
    padding: 0;

    @include m.tablet {
      gap: 5rem;
    }
  }  
}